.dashboard {
	padding: 5vw;
}

.avatar {
	width: 250px;
	margin-bottom: 20px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.username {
	font-size: 2em;
}

.new-test {
	margin-bottom: 30px;
}

.dash-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.created-tests-text {
	font-size: 2.2rem;
	margin-bottom: 1rem;
	font-weight: 500;

}